.logo {
  position: fixed;
  top: 15em;
  right: 15em;
  width: 18vw;
  animation: heartbeat 3.5s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
