.footer {
  left: 0;
  bottom: 0;
  width: 93vw;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: aliceblue;
}

.footer-content {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
